/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
}

/* Untuk About, Skills, Achievements, dan Footer */
.about,
.hobby,
.skills,
.achievements,
.footer {
  margin: 20px; /* Margin yang sama untuk semua bagian */
  padding: 10px;
  width: 100%; /* Mengisi seluruh lebar */
  text-align: left; /* Teks rata kiri */
}

h2 {
  color: #61dafb; /* Warna biru untuk judul */
}

/* Styling untuk Hobbies */
.hobby ul {
  list-style-type: disc;
  padding-left: 30px; /* Memberikan indentasi pada list */
}

/* Styling untuk Skills dan Achievements */
.skills ul,
.achievements ul {
  list-style-type: none;
  padding: 0;
}

.skills li,
.achievements li {
  background: #eee;
  padding: 5px;
  margin: 5px 0;
}

/* Styling untuk Footer */
.footer {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 14px;
}
